
body{
    font-family: 'Bellefair', serif;
}


h1 , h2{
    text-align: center;
    font-size: 40px;

}

 .menu>a{
    color: white;
    text-decoration: none;
}


.menu{
text-align: center;
margin-left: 180px;
margin-bottom: 50px;
display: grid;
background-color: rgb(0, 0, 0);
height: 30px;
width: 75vw;
font-size: 22px;
grid-template-columns: repeat(6, 1fr);

}

.pargrap{
    text-align: right;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-right: 150px;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 100px;
    grid-column-gap: 5px;
    
}


.pargrap > p{
    margin-left: 100px;
    box-shadow: 10px -9px 5px -1px rgba(0,0,0,0.53);
}

#p3{
    animation: popo 2s linear 1s alternate;
}

#p2{
    animation: popo 2s linear 3s alternate;

}

#p1{
    animation: popo 2s linear 5s alternate;

}

@keyframes popo{
    0%{transform: scale(1,1);}
    50%{transform: scale(1.4,1.4);}
    100%{transform: scale(1.0,1.0);}
}

 .box3{
     margin-top: 50px;
     display: grid;
     grid-gap: 15px;
     text-align: right;
     width: 98vw;
     display: flex;
     align-content: center;
     grid-template-columns: repeat(3 ,1fr );
    background-color: black;
    color: white;
 }



 .photo1{
    width: 490px;
    height: 350px;
}





.box4{
    margin-top: 100px;
    text-align: center;
    display: grid;
    font-size: 25px;
    grid-template-columns: repeat(3, 1fr);
    
}

h4{
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    animation: popo 2s linear 10s alternate;
}

.ph{ 

    background-color: black;
    color: white;


}

.photo2{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 10px -9px 5px -1px rgba(0,0,0,0.53);
   
}


.a-svg{
     display: grid;
     
     grid-template-columns: repeat(4,1fr);
     width: 25vw;
     margin-left: 600px;
     margin-top: 50px;
     
}

a{
    text-decoration: none;
 color: rgb(0, 0, 0);
}