

body{
    background-image: url("img/pexels-vitaly-vlasov-1655817.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

header{
    grid-area: 1;


}

footer{
    grid-area: 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px ,auto);


}



.box1{
    grid-area: 3;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}



.children{
    margin-top: 180px;
    padding: 10px;
    margin-left: 50px;
    width: 130px;
    height: 40px;

}
a{
    text-decoration: none;
 color: rgb(255, 255, 255);
}


@media screen and (max-width: 1000px){
    .children{
        display: none;
    }

    footer{
        display: grid;
        padding: 50px;
        display: block;

    }

    input{
        margin-bottom: 30px;
        
    }
}
