body {
  background-color: rgb(252, 252, 252);
  font-family: "Bodoni Moda", serif;
  font-family: "Tinos", serif;
}

.menu>a{
  color: white;
  text-decoration: none;
}


.menu{
text-align: center;
margin-left: 180px;
margin-bottom: 50px;
display: grid;
background-color: rgb(0, 0, 0);
height: 30px;
width: 75vw;
font-size: 22px;
grid-template-columns: repeat(6, 1fr);

}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  background-image: url("img/pexels-dikmie-kimie-1448471.jpg");
  background-size: cover;
  width: 98vw;
  height: 140vh;
  grid-column-gap: 60px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
}

header > p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-top: 80px;
  margin-left: 60px;
  padding: 20px;
  width: 18vw;
  height: 40vh;
  animation: parg 5s linear 1 alternate ;
  /* transition: width height 2s ease-in; */
  
}

header > p:hover{
  /* width: 300px;
  height: 400px; */
  transform: scale(1.3,1.3);

}


@keyframes parg {
  0%{background-color: rgb(59, 197, 186); color: black;}
  25%{background-color: rgb(3, 3, 3); color: white;}
  50%{background-color: rgb(29, 109, 76); color: rgb(255, 255, 255);}
  75%{background-color: rgb(8, 10, 12); color: rgb(255, 255, 255);}
  100%{background-color: rgb(255, 255, 255);}
}



h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

img {
  width: 380px;
  height: 350px;
  /* border: solid 2px white; */
  padding: 15px;
  margin-top: 25px;
  margin-right: 25px;
  border-radius: 200px 200px 200px 200px;
  box-shadow: 14px -13px 5px -5px rgba(43, 110, 29, 0.603);
}

img:hover{
    animation: photo 2s linear 1 alternate-reverse;

}
@keyframes photo{
    0%{ transform: scale(1.1,1.1);}
    25%{background-color: rgb(107, 255, 206); border-radius: 20px;}
    100%{transform: scale(1,-1);}
    
}


section {
  margin-top: 100px;
  display: grid;
  grid-gap: 70px;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  color: rgb(0, 0, 0);
}

article {
  margin-top: 80px;
  display: grid;
  grid-gap: 70px;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  color: rgb(0, 0, 0);
}

section > div {
  box-shadow: 14px -13px 5px -5px rgba(100, 98, 98, 0.75);
}

section > div:hover {
  box-shadow: 14px -13px 5px -5px rgba(124, 255, 255, 0.75);
}

article > div {
  box-shadow: 14px -13px 5px -5px rgba(129, 129, 129, 0.75);
}

article > div:hover {
  box-shadow: 14px -13px 5px -5px rgba(36, 255, 164, 0.75);
}

section > div > p:hover{
    animation: pargrap 2s linear 1 alternate;
}

article > div > p:hover{
    animation: pargrap 2s linear 1 alternate;
}

@keyframes pargrap{
0%{
    transform: scale(1.1,1.1);
    color: rgb(23, 12, 180);
}
50%{
    transform: scale(1.3,1.3);
    color: mediumaquamarine;
}
100%{
    color: rgba(0, 0, 0, 0.75);
}
}

.a-svg{
  display: grid;
  
  grid-template-columns: repeat(4,1fr);
  width: 25vw;
  margin-left: 600px;
  margin-top: 50px;
  
}

a{
 text-decoration: none;
color: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {

  section , article{
    display: block;
  }
  header{
    display: none;
  }

  .menu{
    font-size: 16px;
    margin-left:40px;
    padding: 10px;
}

}


@media screen and (max-width: 600px) {

  section , article{
    display: block;
  }
  header{
    display: none;
  }

  .menu{
    font-size: 16px;
    margin-left:40px;
    padding: 10px;
}

img{
  width: 200px;
  height: 200px;
}
.a-svg{
  display:none;
}

h1,h2{
  font-size: 20px;
}

}
